{{#if context.label}}
  <label>{{context.label}}</label>
{{/if}}


<div class="hide">
  {{input value=context.start}}
  {{input value=context.end}}
</div>


{{input value=context.rangeText class='daterangepicker-input form-control' placeholder=context.placeholder}}