<h4>With Params</h4>
<div>
  {{date-range-picker
  autoApply=true
    alwaysShowCalendars=true
    calendarAlwaysOpen=true
    start=start
    end=end
    serverFormat="YYYYMMDD"
    applyAction=(action "apply")
    cancelAction=(action "cancel")
  }}
</div>
